
# Ignore Maven build output
target/
*.jar
*.war
*.ear

# IntelliJ IDEA-specific files
.idea/
*.iml
*.iws
out/
*.class
# Ignore logs and temporary files
*.log
*.out
*.tmp
*.swp


# Ignore Maven wrapper files
.mvn/